---
import { Image } from 'astro:assets';
import PreachingBg from "../../assets/bg_preaching.jpg";
import PrayIcon from "../../assets/icons/pray.png";
import BibleIcon from "../../assets/icons/bible.png";
import FireIcon from "../../assets/icons/fire.png";
import PlanetEarthIcon from "../../assets/icons/planet_earth.png";
import HolySpiritIcon from "../../assets/icons/holy_spirit.png";
import SectionWrapper from "../../layouts/SectionWrapper.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import InfoCard from "../ui/InfoCard.astro";
import InfoItem from "../ui/InfoItem.astro";
---

<section id="sobre" class="bg-white">
  <SectionWrapper>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid lg:grid-cols-2 gap-16 items-center">
        <div class="relative mb-10 md:mb-0">
          <div
            class="absolute -top-4 -left-4 w-24 h-24 bg-accent/10 rounded-full blur-3xl bg-orange-400"
          >
          </div>
          <Image
            alt="Pregação na Igreja Cristã Alvo"
            class="rounded-2xl shadow-2xl relative z-10 w-full aspect-[4/3] object-cover"
            src={PreachingBg}
          />
          <div
            class="absolute -bottom-20 sm:-bottom-6 -right-6
                bg-orange-400 text-white
                p-4 md:p-8 rounded-2xl
                shadow-xl
                z-10
                max-w-[80%] sm:max-w-xs"
          >
            <p class="italic text-sm sm:text-base font-medium">
              &ldquo;Esquecendo-me das coisas que para trás ficam, e avançando
              para as que estão diante de mim, prossigo para o alvo.&rdquo;
            </p>
            <p class="mt-4 font-bold text-accent text-sm">
              — Filipenses 3:13-14
            </p>
          </div>
        </div>

        <div>
          <h2
            class="text-orange-400 font-bold tracking-widest uppercase text-sm mb-4 flex items-center gap-2"
          >
            <span class="w-8 h-[2px] bg-accent bg-orange-400"></span> Nossa Essência
          </h2>

          <SectionTitle>
            Crescer juntos na fé, na graça e no amor de Cristo.
          </SectionTitle>

          <div class="space-y-6">
            <InfoItem
              title="Uma igreja humana, arrependida"
              icon={PrayIcon}
            >
              Reconhecemos que não somos perfeitos, mas estamos em constante
              arrependimento e transformação, buscando viver conforme a
              vontade de Deus.
            </InfoItem>

            <InfoItem
              title="Uma igreja cheia do Espírito Santo"
              icon={HolySpiritIcon}
            >
              Buscamos viver em plenitude do Espírito Santo, sendo
              capacitados para cumprir a missão de Deus em nossas vidas e ao
              nosso redor.
            </InfoItem>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-24 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-16">
        <h2
          class="text-orange-400 font-bold tracking-widest uppercase text-sm mb-4"
        >
          Fundamentos
        </h2>
        <SectionTitle>Quem Somos?</SectionTitle>
      </div>

      <div class="grid md:grid-cols-3 gap-8 sm:gap-12">
        <InfoCard
          title="Fé Reformada"
          icon={BibleIcon}
        >
          Cremos na centralidade da fé em Cristo, expressa nos cinco solas:
          somente a fé, somente a Escritura, somente Cristo, somente a graça
          e somente a glória de Deus.
        </InfoCard>

        <InfoCard
          title="Carismática"
          icon={FireIcon}
        >
          Acreditamos na continuidade e no fluir dos dons do Espírito Santo,
          que fortalecem a igreja e edificam a vida cristã.
        </InfoCard>

        <InfoCard
          title="Missional"
          icon={PlanetEarthIcon}
        >
          Temos um compromisso com a missão de alcançar todas as
          esferas da sociedade com o evangelho de Jesus Cristo.
          Todos são chamados a testemunhar e viver
          o evangelho em todas as áreas da vida.
        </InfoCard>
      </div>
    </div>
  </SectionWrapper>
</section>
